   <!DOCTYPE html>
<html>
<title>Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body> 

  <br>
  <br>
  <br>
  <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Welcome To Blog</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Blog</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Blog Title</h4>
           <input type="text" placeholder="BLOG TITLE" name="BLOG TITLE" required>
        </div>
        <div class="modal-body">
          <p>Blog Description</p>
           <textarea rows="4" cols="50" name="comment" form="modal-content animate">
Enter text here...</textarea>
        </div>
       <!--  <div class="modal-footer">
        <a href="#/bloglist"> <p><button class="w3-button w3-padding-large w3-success w3-border"><b>Add</b></button></p>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
         <div class="text-center">
    <a class="btn btn-success" href="#" data-toggle="modal">Add</a>
     <a class="btn btn-danger" href="#" data-toggle="modal">close</a>
        <!-- <a class="btn btn-success" href="#successModal" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i> Approval</a> -->
    </div>
      </div>
      
    </div>
  </div>
  
</div>

</body>
 
   

  
	
  <div class="w3-card-4 w3-margin w3-white">
  <!--  <img src=".\assets\img\barnhouse.jpg" alt="House" style="width:60%"></a> -->
    <div class="w3-container">
      <h3><b>Barnhouse</b></h3>
      <h5>About barn house <span class="w3-opacity">April 7, 2014</span></h5>
    </div>

    <div class="w3-container">
     <p>A barn is an agricultural building usually on farms and used for various purposes. In the North American area, a barn refers to structures that house livestock, including cattle and horses, as well as equipment and fodder, and often grain.[2] As a result, the term barn is often qualified e.g. tobacco barn, dairy barn, sheep barn, potato barn. In the British Isles, the term barn is restricted mainly to storage structures for unthreshed cereals and fodder, the terms byre or shippon being applied to cow shelters, whereas horses are kept in buildings known as stables.[2][3] On the Continent, however, barns were often part of integrated structures known as byre-dwellings (or housebarns in US literature). In addition, barns may be used for equipment storage, as a covered workplace, and for activities such as threshing.
    </p>
      <div class="w3-row">
        <a href="#/bloglist">
        <button type="button" class="btn">Comments</button></a>
  <button type="button" class="btn btn-default">Edit</button>
  <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>


 </body>
</html>
 