<br>
<br>
<br>
<div class="container">
	<div class="row">

<!--========== First Modal ==========-->
<article class="col-md-4 well">
    <h3 class="page-header text-center">Blog<br />
        <small>Blog approval and rejection</small>
    </h3>
    <br><hr> 
    <div class="text-center">
         <a class="btn btn-success" href="#successModal" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i>Approval</a>
     <a class="btn btn-danger" href="#successModal" data-toggle="modal"><i class="glyphicon glyphicon-eye-close"></i>Rejection</a>
    </div>
    </article>
    </div>
    </div>
   <br>
   <br>
   <br>
   <div class="container">
	<div class="row">

<!--========== First Modal ==========-->
<article class="col-md-4 well">
    <h3 class="page-header text-center">Forum<br />
        <small>Forum approval and rejection</small>
    </h3>
    <br><hr> 
    <div class="text-center">
    <a class="btn btn-success" href="#successModal" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i>Approval</a>
     <a class="btn btn-danger" href="#successModal" data-toggle="modal"><i class="glyphicon glyphicon-eye-close"></i>Rejection</a>
        <!-- <a class="btn btn-success" href="#successModal" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i> Approval</a> -->
    </div>
    </article>
    </div>
    </div>