<!DOCTYPE html>
<html>
<title>Jobs</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>


<h2><center>JOBS</center></h2>
<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
       <h3><div class="w3-display-topleft  w3-padding">Infosys</div></h3>
     </div>
    </div>
	<div class="w3-container w3-padding-32" id="about">
    <h4 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Company</h4>
    <p>Infosys is a global leader in technology services and consulting. We enable clients in 45 countries to create and execute strategies for their digital transformation. From engineering to application development, knowledge management and business process management, we help our clients find the right problems to solve, and to solve these effectively. Our team of 198,000+ innovators, across the globe, is differentiated by the imagination, knowledge and experience, across industries and technologies that we bring to every project we undertake. 
    </p>
	<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>JobProfile</h2>
    <p>Becoming a software developer, also known as a computer programmer, you'll be playing a key role in the design, installation, testing and maintenance of software systems. The programs you create are likely to help businesses be more efficient and provide a better service.

Based on your company’s particular requirements, you might be responsible for writing and coding individual programmes or providing an entirely new software resource.  </p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Qualification</h2>
    <p>Software DeveloperPosted Today
	   <br>
       Rising star
	   <br>
	   *1 to 3 Yrs   *Lucknow 
	   <br>
	   WE NEED A SOFTWARE DEVELOPER FOR ON LINE TRADING COMPANY WORK ON MLM PROCESS IN LUCKNOW. POST - SOFTWARE DEVELOPER COMPANY - E - TRADING SKILLS - DOT NET ,ANDROID
<br>
Skills :asp.net,c#,java,c++,script</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Contact info</h2>
    <p><br>Email:innovationfund@infosys.com
	   </br>
       Address:Corporate Headquarters
       Electronics City
       Hosur Road
       Bangalore - 560 100
       India</p>
  </div>
</div>
	</body>
	</html>